# dependencies
node_modules/
**/node_modules/

# env
.env
.env.local
**/.env
**/.env.local

# build output
dist/
.next/
out/
build/

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
